name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing to master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: R2-STAR
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Kolkata

          # 1. 3D Calendar (The green block city)
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year

          # 2. Languages (The bar chart)
          plugin_languages: yes
          plugin_languages_ignored: >-
            html, css
          plugin_languages_details: bytes-size, percentage

          # 3. Habits (Coding habits graphs)
          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_charts: yes
          plugin_habits_trim: yes

          # 4. Mastered Technologies (The icons)
          # Note: Star repositories with specific topics (e.g., "react") to make them appear here.
          plugin_topics: yes
          plugin_topics_limit: 15
          plugin_topics_mode: icons
    
